.theme-toggle {
  background: transparent;
  width: 30px;
  border: none;
  cursor: pointer;
}

.theme-light .theme-toggle::before {
  content: '☽';
}

.theme-dark .theme-toggle::before {
  content: '☀';
}