.site-header {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  padding: 10px;
  background-color: #0093ee;
}

.site-header a {
  color: white;
  text-decoration: none;
  padding: 4px 8px;
  margin-right: 5px;
  border-radius: 4px;
}

.site-header a:hover {
  background-color: #ffffff50;
}

.site-header .active {
  background-color: #ffffff30;
}