html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  padding: 0;
  line-height: inherit;
  display: grid;
  min-height: 100vh;
}

#root-content {
  display: grid;
  grid-template-rows: auto 1fr auto auto;
  min-height: 100vh;
}

main {
  padding: 2rem 0rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}